#wrap
  #header
    .structure
      //a(href="/") The Singing Bank! @OpenBankProject
      h1 The Singing Bank! @OpenBankProject

  #main
    .structure

      #create 
        
      p Singing transactions!
      ul
        - each trans in transactions
          li
            !{trans.obp_transaction.details.value.amount}
            script(type='text/javascript')
              //- Add each transaction to a sound queue. The sound queue will be played once samples are loaded.
              playData(#{trans.obp_transaction.details.value.amount}, "#{trans.obp_transaction.details.completed}");

