#wrap
  #header
    .structure
      //a(href="/") The Singing Bank! @OpenBankProject
      h1 The Singing Bank! @OpenBankProject

  #main
    .structure

      #create 
        
      Singing transactions!
      ul
        - each trans in transactions
          li
            #{trans.obp_transaction.details.value.amount}
            script(type='text/javascript') 
              playData(#{trans.obp_transaction.details.value.amount}, "#{trans.obp_transaction.details.completed}");

