!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/midi.js')

    script(type='text/javascript')
      var context;
      window.addEventListener('load', init, false);
      function init() {
        try {
          context = new webkitAudioContext();
          //alert('Web Audio API OK!');
        }
        catch(e) {
          alert('Web Audio API is not supported in this browser');
        }
      }

  body!= body

  #footer
    .inner
      p
        a(href="http://tesobe.com") TESOBE
        |&nbsp;|&nbsp;
        a(href="http://www.openbankproject.com") Open Bank Project
        |&nbsp;|&nbsp;
        a(href="http://demo.openbankproject.com") Demo
        |&nbsp;|&nbsp;
        a(href="http://polarize.it/polarize/thesingingbank_98031475185") Feedback