//
form( method="post")
	div
		div
			span Ask for someones opinion by email :
			input(type="text", name="email", id="email")

		div#inviteSomeonesOpinionSubmit
		input(class="submit", type="submit", value="Invite someone")